<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<h1>Departments</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Create Date</th>
    <th>Update Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="data : ${departments}">
    <td th:text="${data.getId()}"></td>
    <td th:text="${data.getName()}"></td>
    <td th:text="${data.getCreatedAt()}"></td>
    <td th:text="${data.getUpdatedAt()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>